<div class="card-product">
  <%#= game.photo.attached? ? (cl_image_tag game.photo.key) : false %>
  <img src="<%= @img %>" >
  <div class="card-product-infos">
    <h2><%= @card_title %></h2>
    <p><%= @card_description %></p>
    <p><%= @card_address %></p>
    <p>Game Owner: <%= @card_owner %></p>
  </div>
</div>
