<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      <h1>Games</h1>
      <% @games.each do |game| %>
        <h3><%= link_to(game.title, game_path(game)) %></h3>
        <% if game.photo.attached? %>
          <img src="<%= cloudinary_url(game.photo.key)%>">
        <% end %>
        <p>Game description: <%= game.description %></p>
        <p>Game availability: <%= game.availability %></p>
        <p>Game Owner: <%= game.user.username %></p>
      <% end %>
    </div>
  </div>
</div>
