<div class="card-product">
 <h1><%= @game.title %></h1>
  <% if @game.photo.attached? %>
    <img src="<%= cloudinary_url(@game.photo.key)%>">
  <% end %>
  <div class="card-product-infos">
    <p>Game description: <%= @game.description %></p>
    <p>Game availability: <%= @game.availability %></p>
    <p>Game Owner: <%= @game.user.username %></p>
    <% @game.bookings.each do |booking| %>
      <p>Booking start date: <%= booking.booking_start %> </p>
      <p>Booking approved? <%= booking.approved %> </p>
    <% end %>
  </div>

</div>
